<h2> <%= conjs[0] %> - <%= conjs[1] %></h2>
<span>
    <img width="250" src="/view/recursos/img/<%= img[0] %>">
    <h5>A: Licenciatura; B: Tecnicatura</h5>
</span>
<p>Se contemplan la diferencia de materias en un mismo año. Las materias del medio año ultimo de la tecnicatura se las compara en el tercer año de la licenciatura.</p>
<% for(let i = 0; i < dif.length; i++) { %>
    <% if(dif[i]) { %>
        <strong> <%= i+1 %> Año </strong>.
        <ol>
            <% dif[i].forEach(nombre => {  %>
                <li> <%= nombre %> </li>
            <% }) %>
        </ol>
        <hr>
    <% } %>
<% } %>
